{% extends "base.html" %}
{% block content %}
  <div class=container>
    <div class=row>
      <div class=span12>
        <h2>What is it?
        <p>
          Dagcuss is, in short, a forum based off a Directed Acyclical Graph,
          aka a DAG. This means that when you post a message and are choosing
          which post to reply to, you are not restricted to replying to only
          one post, but can in fact reply to multiple.
        <h2>Why?
        <p>
          Flat/path based forums are terrible from an organisational
          perspective. When there are few messages, or you are content to read
          all the messages even as an increasing number of topics are juggled
          at once
        <p>
          Fully-threaded/tree based fix this problem, but introduce a new one.
          Although paths of conversation by diverge, often they reconverge, yet
          the two paths are forever separate possibly even resulting in
          redundant posts for a very large thread.
        <h2>How does it work?
        <p>
          Not very much to say at the moment. More later.
      </div>
    </div>
  </div>
{% endblock %}
