{% extends "base.html" %}
{% block content %}
  <div class=container>
    <div class=row>
      <div class=span12>
        <p>
          Got a question? Have I made a glaring ommision. Well then, post about
          it. But if you can't even get to that stage or if it's super private
          like you're going to tell me your darkest secret (go for it, I'm
          pretty nosy) then feel free to email me. <a
          href=http://www.google.com/recaptcha/mailhide/d?k=01kTZe89ZmyIjuy8V6oUzaRg==&c=RzRaH58R6-MxCyBcoyibaD4M9DE-Y1LBRfZsllLHfNo=>
          Unfortunately you have to fill in a CAPTCHA (this is a, possibly
          futile, attempt to cut off spam)</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
